
$buttonBackground: #007bff;
$buttonCancel:#bb5353;

.create-prodcut {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  height: 650px;
}

.create-prodcut label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.create-prodcut input,
.create-prodcut select,
textarea {
  width: 100%;
  padding: 10px;
  height: 40px;
  margin: 12px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

.upload-area {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

.upload-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.file-name-input {
  flex: 1;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 5px;
}

.upload-controls button {
  padding: 8px 20px;
  height: 40px;
  background-color: $buttonBackground;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-controls button:hover {
  background-color: #0056b3;
}

.image-preview img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 5px;
}


.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}



.image-preview {
  width: 80%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.remove-image-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.remove-image-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.actions button {
  padding: 10px 20px;
  height: 40px;
  border-radius: 5px;
}

.actions .save-btn {
  background-color: $buttonBackground;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions .save-btn:hover {
  background-color: #0056b3;
}

.actions .cancel-btn {
  background-color: $buttonCancel;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions .cancel-btn:hover {
  background-color: #9b2d2d;
}
